<div class="box cu-body">
  <div class="container">
    <div align="center">
      <h1>Requerimientos</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>Inicio de sesión</h4>
          </div>
          <div class="text">
            <span>Administrador de la empresa</span>
          </div>
          <!--a href="#">Learn More</a-->
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>Inicio de sesión</h4>
          </div>
          <div class="text">
            <span>Empleado</span>
          </div>
          <!--a href="#">Learn More</a-->
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>Administrador</h4>
          </div>
          <div class="text">
            <span>Marque la entrada y salida de sus empleados</span>
          </div>
          <!--a href="#">Learn More</a-->
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>Administrador</h4>
          </div>
          <div class="text">
            <span>Gestione reportes (entrada y salida) empleados</span>
          </div>
          <!--a href="#">Learn More</a-->
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>Administrador</h4>
          </div>
          <div class="text">
            <span>Gestione la información de los empleados</span>
          </div>
          <!--a href="#">Learn More</a-->
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>Empleado</h4>
          </div>
          <div class="text">
            <span>Revise su reporte de entrada y salida</span>
          </div>
          <!--a href="#">Learn More</a-->
        </div>
      </div>

    </div>
  </div>
</div>
<!--<div id="circle">-->
<!--  <div class="loader">-->
<!--    <div class="loader">-->
<!--      <div class="loader">-->
<!--        <div class="loader">-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->